snippet fence "insert fenced code block"
\`\`\`${1:language}
${VISUAL}$0
\`\`\`
endsnippet

snippet goal
### ${1:Lesson}${2:Exercise} Goals
$0

-------------------------------------------------
endsnippet
