snippet inm "if name == main"
if __name__ == '__main__':
    $0
endsnippet

snippet v "variable"
$0 = ${VISUAL}
endsnippet

snippet ds "data science standard imports"
import pandas as pd, numpy as np, matplotlib.pyplot as plt
endsnippet
