snippet cl "console log"
console.log($0)
endsnippet

snippet test "jest test fn"
test('$1', () => {
	$0
});
endsnippet

snippet f "function"
function($1) {$0}
endsnippet

snippet fn "arrow function"
() => {$0}
endsnippet

snippet it "test it"
it('$1', () => {
  $0
})
endsnippet

